node_modules/
cypress/downloads/
cypress/screenshots/
cypress/videos/
cypress.env.json
cypress/support/component-index.*
.vscode/*
.idea/*
.tool-versions
pnpm-lock.yaml
*.png
app.js
index.js
*.json
*.csv
*.html
*.css
*.ico
*.log
act
*.txt
*.mp4
*.properties