node_modules/
cypress/downloads/
cypress/screenshots/
cypress/videos/
cypress.env.json
cypress/support/component-index.*
.vscode/*
.idea/*
.tool-versions
pnpm-lock.yaml
act
*.html
*.csv
*.css 
*.txt 
*.ico
*.json
app.js
index.js
*.json