name: Run UI Tests

on:
  workflow_dispatch:
    inputs:
      browser:
        description: 'Select the browser for UI tests'
        required: true
        type: choice
        options:
          - chrome
          - edge
          - firefox
          - electron
        default: chrome

permissions:
  contents: write

jobs:
  cypress-ui-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.18.0
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Run UI tests
        run: BROWSER=${{ github.event.inputs.browser }} npm run test:run

      - name: Generate Allure report
        run: npm run allure:generate

      - name: Load test report history
        uses: actions/checkout@v3
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Build test report
        uses: simple-elf/allure-report-action@v1.7
        if: always()
        with:
          gh_pages: gh-pages
          allure_history: allure-history
          allure_results: allure-results

      - name: Publish test report
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history
          allow_empty_commit: true
          force_orphan: true
