name: Run UI with Mochawesome

on:
  workflow_dispatch:
    inputs:
      browser:
        description: 'Select the browser to run the tests'
        required: true
        type: choice
        options:
          - chrome
          - edge
          - firefox
          - electron

permissions:
  contents: write

jobs:
  ui-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.18.0
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Run UI tests
        run: BROWSER=${{ github.event.inputs.browser }} npm run test:ui-mochawesome

      - name: Merge Mochawesome reports
        run: npm run mochawesome:merge

      - name: Generate Mochawesome report
        run: npm run mochawesome:generate

      - name: Load test report history
        uses: actions/checkout@v3
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Publish Mochawesome report
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: mochawesome-report
          allow_empty_commit: true
          force_orphan: true
